@import './styles/helpers.css';
@import './styles/base.css';
@import './styles/aside.css';
@import './styles/header.css';
@import './styles/home.css';
@import './styles/color.css';
@import './styles/fonts.css';
@import './styles/contacts.css';
@import './styles/cursor.css';
@import './styles/canvas.css';
@import './styles/weather.css';
@import './styles/footer.css';
@import './styles/about.css';