.about_topic_block{
    padding: 10px;
    color: white;
    border: 1px solid white;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
}
.about_bold_text{
    color: yellow;
}
.about_basic_text{
    font-family: pixel0;
    font-size: 25px;
}

.about_img{
    border: 1px solid white;
    border-radius: 30px;
    height: 220px;
    width: 220px;
}

.about_greatings{
    display: flex;
    gap: 15px;
}

.about_greatings_h3{
    margin-top: -8px;
}


