aside{
    border: 1px solid white;
    border-radius: 15px;
    color: white;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 1); /*cмещение по горизонтале, вертикале, размытие, цвет */
}

.aside_button_panel{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.aside_button{
    font-family: pixel0;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    min-width: 250px;
    width: 100%;
    border-radius: 5px;
}

.aside_player{
    padding: 10px;
    color: white;
    border: 1px solid white;
    /* border-radius: 15px; */
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
}

.aside_player_mixer{
    padding: 10px;
    color: white;
    border: 1px solid white;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
}

.aside_player_mixer_button_panel{
    display: flex;
    gap: 50px;
    justify-content: center;
}

.aside_player_mixer_button{
    
}