aside{
    border: 1px solid white;
    border-radius: 15px;
    color: white;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 1); /*cмещение по горизонтале, вертикале, размытие, цвет */
}

.aside_link{

}

.aside_button_panel{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.aside_button{
    font-family: pixel0;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    min-width: 250px;
    width: 100%;
    border-radius: 5px;
}

.aside_player_block{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -15px;
}

.aside_player{
    padding: 0px;
    color: white;
    border: 1px solid white;
    border-radius: 15px; 
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px; 
    padding: 10px;
}

.aside_hr{
    
}


.aside_player_mixer{
    padding: 10px;
    color: white;
    border: 1px solid white;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 1);

}

.aside_player_mixer_button_panel{
    display: flex;
    gap: 10px;
    justify-content: center;
}

.aside_player_mixer_button{
    width: 100%;
    min-width: 57px;
    font-size: 25px;
    font-weight: bold;

}
.aside_player_song_name{

}

.aside_song_time_panel{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.aside_weather_form{
    padding: 10px 20px 10px 20px;
}
.aside_weather_input{
    display: flex;
    flex-direction: column;
    color: white;
    border: 1px solid white;
    border-radius: 15px; 
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
    
}

.aside_flake_input{
    padding: 0px 0px 0 50px;
}