body{
    background-color: black;
    font-family: pixel0;
    font-weight: bold;
    
    
}

body,h1,h2,h3,input,button,label{
    cursor: none !important;
}

h1{
    font-family: pixel0;
    font-size: 60px;
}
h2{
    font-family: pixel0;
    font-size: 50px;
}
h3{
    font-family: pixel0;
    font-size: 40px;
}

p{
    font-family: pixel0;
    font-size: 25px;
}

b{
    color: yellow;
}