#snow_canvas{
  position: absolute;
  top: 0;
  left: 0;
  /* background: transparent; */
  width: 100%; /* Заставляет холст занимать всю ширину родителя */
  height: auto;
  pointer-events: none; 
  z-index: -1;
}