.contacts{
    border: 1px solid white;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 1); /*cмещение по горизонтале, вертикале, размытие, цвет */
}

.contacts__content{
    padding: 10px;
    color: white;
    border: 1px solid white;
    border-radius: 15px;
    
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 1); /*cмещение по горизонтале, вертикале, размытие, цвет */
}

.contacts_button{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: pixel0;
    font-size: 30px;
    font-weight: bold;
}

.contacts_links_panel{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}

.contacts_p_text{
    font-family: sans-serif;
}