.contacts{
    border: 1px solid white;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 1); /*cмещение по горизонтале, вертикале, размытие, цвет */
}

.contacts__content{
    padding: 10px;
    color: white;
    border: 1px solid white;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 1); /*cмещение по горизонтале, вертикале, размытие, цвет */
}

.contacts_button{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    font-family: pixel0;
    font-size: 30px;
    font-weight: bold;
    width: 100%;
    min-width: 250px;
    padding: 10px;
}

.contacts_links_panel{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    font-weight: normal;
    
}

.contacts_link{
    text-decoration: none
}

.contacts_p_text{
    font-family: sans-serif;
    font-size: 15px;
}
.contacts_icon{
    max-width: 75px;
}