#custom-cursor {
  position: fixed;
  pointer-events: none;
  z-index: 9999;
  width: 32px;  
  height: 32px;
  background-image: url('/cursors/arrow_sprite.png');
  background-size: cover;
}

#custom-cursor.default { background-image: url('/cursors/arrow_sprite.png');}

#custom-cursor.text { background-image: url('/cursors/cell_sprite.png'); }

#custom-cursor.button { background-image: url('/cursors/hand_sprite.png');}

#custom-cursor.none { background-image: url('none');}