.OsakaAndchioGif{
    position: fixed;
    left: 2300px;
    /* right: -2300px; */
    background: url('../gifs/osaka-chio.gif') no-repeat;
    width: 1000px;
    height: 1000px;
    z-index: 9999;
    display: none;
}

.fly-active{
    animation: flyAcross 4s linear forwards;
}

@keyframes flyAcross {
  0% {
    transform: translateX(0) translateY(0) scale(1);
  }
  50% {
    transform: translateX(-100vw) translateY(0) scale(1.1); 
  }
  100% {
    transform: translateX(-200vw) translateY(0) scale(1); 
  }
}