footer{
    overflow: hidden;
  white-space: nowrap;
  background: #000;
  padding: 5px 0;
}

.footer_88x31{
    display: inline-block;
    animation: scroll 20s linear infinite;
}
@keyframes scroll {
    from {transform: translateX(0);}
    to {transform: translateX(-50%);}
}