.gallery{
    border: 1px solid white;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 1); /*cмещение по горизонтале, вертикале, размытие, цвет */
    height: 120%;
    display: flex;
    justify-content: center;
    
}



.gallery_button{
    padding: 10px;
    color: white;
    border: 1px solid white;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
    width: 20%;

}

.gallery_button:hover{
    transition: all 0.2s ease;
    box-shadow: 
        0 0 10px #ffffff, 
        0 0 15px #ffffff, 
        0 0 25px #ffffff; 
}

.resume_link{
    text-decoration: none;
}
.gallery_additional_block{
    display: flex;
    justify-content: center;
}
.gallery_drawning{
    max-width: 600px;
    grid-area: 1/1;
    padding-bottom: 50px;
}
/* .gallery_drawning-1{transform: translate(0px,100px);} */
