.home{
    border: 1px solid white;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 1); /*cмещение по горизонтале, вертикале, размытие, цвет */
}

.home__content{
    padding: 10px;
    color: white;
    border: 1px solid white;
    border-radius: 15px;
    
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 1); /*cмещение по горизонтале, вертикале, размытие, цвет */
}

