.home{
    border: 1px solid white;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 1); /*cмещение по горизонтале, вертикале, размытие, цвет */
}

.home__content{
    padding: 10px;
    color: white;
    border: 1px solid white;
    border-radius: 15px;
    
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 1); /*cмещение по горизонтале, вертикале, размытие, цвет */
}

.home_img{
    border: 1px solid white;
    border-radius: 30px;
    height: 220px;
    width: 220px;
}

.home_greatings{
    display: flex;
    gap: 15px;
}

.home_greatings_h3{
    margin-top: -8px;
}

