.resume_topic_block{
    padding: 10px;
    color: white;
    border: 1px solid white;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
}
.resume_bold_text{
    color: yellow;
}
.resume_basic_text{
    font-family: pixel0;
    font-size: 25px;
}