.tier_list{

}

.tier_S{

    display: flex;
    flex-direction: row;
    height: 100px;
    
    /* align-items: center; */
}
.S_games{
    display: flex;
}

.S_text{
    
    height: 100px;
    width: 100px;
    margin: 0px;
    padding: 34px;
    box-sizing: border-box;
    background-color: red;
}

.tier_img{
    height: 100px;
    width: 100px;
}