.weather_block{
    padding: 0px 15px 10px 15px
}

.weather_panel{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0px;
    padding: 0px;

    color: white;
    border: 1px solid white;
    border-radius: 15px; 
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
    
}

.weather_main{
    height: 5px;
    font-size: 20px;
    margin-top: 5px;
    
}

.weather_label{
    font-size: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.weather_main_smile{
    font-size: 110px;
    height: 5px;
    margin-top: 0px;
    margin-bottom: 70px;

}

.weather_temp{
    height: 5px;
    font-size: 40px;
}

